@import url(fonts.css);
* {
  border-radius: 0 !important;
}

body {
  font-family: 'FreightDispPro', sans-serif;
  color: #726e63;
  /* background-color: #fbfaf4; */
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: #726e63
}

a:hover,
a:focus {
  color: #8e0f30 !important;
  text-decoration: none;
}

img {
  max-width: 100%;
}

blockquote {
  position: relative;
  font-family: 'FreightText', sans-serif;
  font-weight: 500;
  margin-top: 60px;
  border: 0 none;
}

blockquote:before {
  position: absolute;
  content: "";
  background: url(../images/blockquote.png) no-repeat;
  width: 33px;
  height: 27px;
  top: -40px;
  right: 50%;
  margin-right: -16px
}

.form-group {
  margin-bottom: 30px;
}

.form-group:last-child {
  margin: 45px 0 0;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(142, 15, 48, .075) !, 0 0 40px -10px rgba(142, 15, 48, .6);
  -webkit-box-shadow: inset 0 1px 1px rgba(142, 15, 48, .075), 0 0 40px -10px rgba(142, 15, 48, .6);
  border-color: #8e0f30;
}

* .form-control {
  border-color: #e1e1e1;
  color: #999;
  box-shadow: none;
}

.form-group label {
  font-size: 16px;
  font-family: 'FreightText', sans-serif;
  font-weight: 400;
  color: #999
}

.color-adm {
  color: #8e0f30;
}

.btn-lgl {
  padding: 15px 30px;
  font-size: 20px;
  height: 58px;
}

.btn {
  overflow: hidden;
  position: relative;
  background-color: transparent;
  text-transform: uppercase;
  font-family: 'OpenSans', sans-serif;
}

.btn:active,
.btn:focus {
  box-shadow: none;
  outline: none !important;
}

.btn:after,
.btn:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
}

.btn:before {
  left: -100%;
  bottom: 20%;
}

.btn:after {
  left: 100%;
  top: 20%;
}

.btn:hover:after,
.btn:hover:before {
  -webkit-transition: all 0.65s ease;
  -moz-transition: all 0.65s ease;
  -o-transition: all 0.65s ease;
  transition: all 0.65s ease;
  -webkit-transition-delay: 0.15s;
  -moz-transition-delay: 0.15s;
  -o-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.btn:hover:after {
  left: -100%;
}

.btn:hover:before {
  left: 100%;
}

.btn-adm:after,
.btn-adm:before {
  background-color: #fff;
}

.btn-success,
.btn-file,
.btn-adm:focus,
.btn-adm:active,
.btn-adm:hover,
.btn-adm {
  background-color: #8e0f30 !important;
  border-color: #8e0f30 !important;
  color: #f5f5f3 !important
}

.btn:active {
  text-shadow: 0 1px 0;
}

.btn-outline-adm:after,
.btn-outline-adm:before {
  background-color: #8e0f30;
}

.btn-outline-adm:focus,
.btn-outline-adm:active,
.btn-outline-adm {
  color: #8e0f30 !important;
  border-color: #8e0f30 !important;
}

.btn-outline-adm:focus,
.btn-outline-adm:active,
.btn-outline-white:focus,
.btn-outline-white:active,
.btn-outline-white:hover,
.btn-outline-black:focus,
.btn-outline-black:active,
.btn-outline-black:hover,
.btn-outline-adm:focus,
.btn-outline-adm:active,
.btn-outline-adm:hover {
  background-color: transparent !important;
}

.btn-outline-black:hover,
.btn-outline-black {
  border-color: #45433b !important;
  color: #45433b !important;
}

.btn-outline-black:after,
.btn-outline-black:before {
  background-color: #45433b;
}

.btn-outline-white:hover,
.btn-outline-white {
  border-color: #fefefb !important;
  color: #fefefd !important;
}

.btn-outline-white:after,
.btn-outline-white:before {
  background-color: #fefefb;
}

.slick-arrow,
.icon-arrows {
  background-color: transparent;
  background-image: url(../images/icon-arrows.png);
  background-repeat: no-repeat;
  text-indent: -999999px;
  display: block;
}

.pager li>a,
.pager li>span {
  border-radius: 0;
  border: 0 none;
  overflow: hidden;
}

.testimonials .slick-prev,
.testimonials .slick-next,
.testimonials .icon-arrows {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  padding: 0;
  margin: 0;
  border: 0 none;
  border-radius: 0;
  position: absolute;
  bottom: -35px;
}

.testimonials .slick-next,
.testimonials .pager .next {
  background-position: -169px -10px;
  left: 50%;
  margin-left: 5px;
}

.testimonials .slick-prev,
.testimonials .pager .prev {
  background-position: -124px -10px;
  right: 50%;
  margin-right: 5px;
}

.aba-arrows,
.sr-arrows {
  position: absolute;
  right: 30px;
  bottom: 40px;
}

.aba-arrows .icon-arrows,
.sr-arrows .icon-arrows {
  width: 47px;
  height: 46px;
  margin: 10px 0;
}

.aba-arrows .next {
  background-position: -67px -66px;
}

.aba-arrows .prev {
  background-position: -67px -10px;
}

.sr-arrows .next {
  background-position: -10px -66px;
}

.sr-arrows .prev {
  background-position: -10px -10px;
}

.div-table {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 660px;
  width: 100%;
  z-index: 999;
}

.popup-content {
  padding: 10px 30px 20px;
  background-color: #efeee2;
  border: 1px solid #c6c4b3;
  text-align: center;
  font-size: 18px;
  margin: 0 15px;
  color: #2d2c2a;
  font-family: 'FreightText', sans-serif;
  box-shadow: 6px 6px 0 0 rgba(154, 152, 139, 0.5)
}

.popup-title {
  font-family: 'FreightDispProSemibold', sans-serif;
}

.popup-title.success {
  color: #2a770c;
}

.popup-title.error {
  color: #c00d0d;
}

.popup .close {
  opacity: 0.75;
  position: relative;
  top: -7px;
  right: -20px;
}

.popup .close:hover {
  opacity: 1
}

header .navbar-default {
  background-color: #f7f6f0;
  border-color: #eae9e9;
  margin: 0;
}

header .logo {
  background-image: url(../images/logo-adm.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  width: 417px;
  background-size: 100%;
  height: 67px;
  text-indent: -999999px;
  padding: 0;
  margin-top: 30px;
}

header .navbar-default .navbar-nav>li>a {
  font-size: 16px;
  font-family: 'FreightText', sans-serif;
  text-shadow: 0px 0px 0px #4e4637;
  color: #4e4637
}

header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover {
  background-color: transparent;
}

header .navbar-default .navbar-nav>.active>a,
header .navbar-default .navbar-nav>.active>a:focus,
header .navbar-default .navbar-nav>.active>a:hover {
  color: #8e0f30
}

.popup-login {
  position: absolute;
  right: 0;
  top: 49px;
  z-index: 9;
  display: none;
}

.popup-login-content {
  width: 340px;
  border: 1px solid #c6c4b3;
  padding: 25px;
  background-color: #efeee2;
  box-shadow: 6px 6px 0 #9a988c;
}

.popup-login .form-group {
  margin-bottom: 20px;
}

.popup-login .arrow:after,
.popup-login .arrow {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  border-top-width: 0;
  border-bottom-color: #c6c4b3;
}

.popup-login .arrow {
  top: -11px;
  right: 30px;
}

.popup-login .arrow:after {
  top: 2px;
  margin-left: -10px;
  content: " ";
  border-width: 10px;
  border-top-width: 0;
  border-bottom-color: #efeee2;
}

.bg,
.map {
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
}

.home-block {
  min-height: 700px;
  position: relative;
  padding: 30px 0 60px;
}

.hb-title {
  font-size: 90px;
  font-weight: 300;
  color: #45433b;
  text-align: center;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ordering-porcess,
.our-collection,
.showcase,
.our-factory,
.testimonials,
.about-alexander,
.subscribe {
  text-align: center;
  color: #45433b
}

.ordering-porcess,
.subscribe {
  color: #fff
}

.our-services {
  background-image: url(../images/our-services-image-bg.jpg);
  height: 1040px;
}

.our-services .icon-satisfaction {
  position: relative;
}

.our-services .btn {
  border-width: 2px;
  margin-top: 10px;
}

.our-services .btn {
  margin-top: 15px;
}

.our-services .hb-title {
  text-align: left;
}

.our-services .hb-title strong {
  font-family: 'FreightDispProSemibold', sans-serif;
}

.our-services p {
  font-size: 32px;
  font-family: 'FreightText', sans-serif;
}

.ordering-porcess {
  background-image: url(../images/.ordering-porcess-bg.jpg);
  background-attachment: fixed;
}

.ordering-porcess .hb-title {
  color: #fff;
  margin-top: 60px;
}

.our-collection {
  background: -webkit-linear-gradient(#e4e4e3, #e9e8e7);
  background: -o-linear-gradient(#e4e4e3, #e9e8e7);
  background: -moz-linear-gradient(#e4e4e3, #e9e8e7);
  background: linear-gradient(#e4e4e3, #e9e8e7);
  overflow: hidden;
  max-height: 1200px;
}

.our-collection .hb-title {
  margin-top: 70px;
}

.our-collection .ocl-icon {
  position: relative;
}

.ocl-more-details {
  margin: 40px 0 70px;
}

.our-collection p {
  font-size: 28px;
  font-family: 'FreightText', sans-serif;
}

.about-alexander,
.showcase {
  background-color: #fbfaf4;
}

.showcase {
  margin-bottom: 50px;
}

.testimonials .hb-title,
.about-alexander .hb-title {
  font-size: 48px;
  font-weight: 400;
  font-family: 'FreightDispProBook', sans-serif;
}

.about-alexander {
  font-family: 'FreightText', sans-serif;
  font-weight: 500;
}

.about-alexander p {
  font-size: 16px;
  color: #9b968b
}

.about-alexander a {
  color: #9b968b;
  position: relative;
}

.about-alexander a:after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  border-top: 1px solid #cbc8c0;
  border-bottom: 1px solid #e3e1da;
}

.aba-item-two {
  padding: 0 25px;
}

.aba-item .box-img {
  height: 166px;
}

.aba-title {
  font-size: 20px;
  text-transform: uppercase;
  color: #56524b;
}

.sc-list {
  margin-top: 60px;
}

.sc-more {
  text-align: center;
  margin-top: 30px;
}

.sc-more .btn {
  width: 236px;
}

.sc-item {
  margin: 0 0 40px;
  position: relative;
}

.sc-link {
  background-color: #f6f5f1;
  position: relative;
  display: block;
}

.sc-link:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid #f5f2e9;
}

.sc-item:hover .sc-link:after {
  border-color: #e9e3d2;
}

.sc-title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 15px;
  font-family: 'FreightText', sans-serif;
  font-weight: 500;
  text-align: center;
}

.sc-title a {
  font-size: 20px;
  color: #848079
}

.our-factory {
  background-image: url(../images/our-factory-images-bg.jpg);
  background-attachment: fixed;
  padding-top: 250px;
}

.our-factory p {
  font-size: 28px;
}

.our-factory .btn {
  margin-top: 30px;
}

.testimonials {
  background-color: #f3f3f0;
  min-height: auto;
  padding: 20px 0 75px;
}

.testimonials blockquote {
  font-size: 18px;
  color: #646356;
}

.testimonials .author {
  display: block;
  color: #8e8778
}

.about-alexander blockquote {
  font-size: 26px;
  color: #525049;
  margin-top: 80px;
}

.subscribe {
  background-image: url(../images/subscribe-image-bg.jpg);
  background-attachment: fixed;
}

.subscribe .hb-title {
  margin: 300px 0 40px;
  color: #fff;
}

.subscribe .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1
}

.subscribe .form-control:-ms-input-placeholder {
  color: #fff;
}

.subscribe .form-control::-webkit-input-placeholder {
  color: #fff;
}

.subscribe .btn-default {
  padding-left: 48px !important;
  padding-right: 48px !important;
  font-size: 16px !important;
}

.subscribe .form-control {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  font-family: 'OpenSans', sans-serif;
  font-weight: 300;
}

.subscribe .btn-default,
.subscribe .form-control {
  background-color: #010101 !important;
  border-color: #fff !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.subscribe .input-group-lg>.form-control,
.subscribe .input-group-lg>.input-group-addon,
.subscribe .input-group-lg>.input-group-btn>.btn {
  height: 54px;
}

.subscribe .hb-title {
  color: #fff;
  margin-top: 250px;
}

.subscribe p {
  font-size: 30px;
  font-family: 'FreightText', sans-serif;
  font-weight: 500;
}

.map {
  height: 550px;
  padding: 0;
  min-height: auto;
}


/*about*/

.about {
  background-color: #fbfaf4;
  padding-bottom: 60px;
}

.about-top {
  background-image: url(../images/about-top-bg.jpg);
  height: 496px;
  color: #fff;
  margin-bottom: 80px;
}

.about-top .title {
  font-size: 80px;
  margin: 115px 0 70px;
}

.about-top p {
  font-size: 22px;
  font-family: 'FreightText', sans-serif;
}

.about-intro,
.about-showcase,
.about-intro-top {
  position: relative;
}

.about-intro:after,
.about-showcase:after,
.about-intro-top:after {
  height: 1px;
  background-color: #c6c4bf;
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 203px;
  margin: auto;
}

.about-intro-top {
  padding-bottom: 30px;
  margin-bottom: 55px;
}

.about-intro-top p {
  margin-bottom: 20px;
  font-family: 'FreightText', sans-serif;
  font-weight: 500
}

.about-intro,
.about-showcase {
  padding-bottom: 100px;
}

.about-showcase {
  margin-bottom: 40px;
}

.about-showcase .hb-title {
  margin-top: 60px;
}

.about-intro h4 {
  font-size: 20px;
  margin-bottom: 2px;
  font-weight: bold;
}

.about-intro-bottom .media {
  font-family: 'FreightText', sans-serif;
  font-weight: 500
}

.about-intro-bottom h2 {
  font-size: 60px;
  margin-bottom: 30px;
}

.about-intro-bottom p {
  margin: 0;
}

.about-intro-bottom .media + .media {
  margin-top: 10px;
}

.about-intro-bottom .media-left {
  padding-right: 20px;
}

.about-intro-bottom .media-body,
.about-intro-bottom .media-left,
.about-intro-bottom .media-right {
  vertical-align: middle;
}

.icon-about-intro {
  background-image: url(../images/icon-about-intro.png);
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 90px;
}

.iai-one {
  background-position: -5px -9px
}

.iai-two {
  background-position: -85px -9px
}

.iai-three {
  background-position: -172px -9px
}

.iai-four {
  background-position: -254px -9px
}

.about-our-factory .hb-title {
  margin-bottom: 30px;
}

.about-our-factory p {
  margin-bottom: 40px;
}

.content {
  font-family: 'FreightText', sans-serif;
  position: relative;
}

.content .text-intro {
  margin-bottom: 20px;
  color: #898479;
}

.free-3d-design {
  text-align: center;
}

.catalog-list,
.place-order,
.contact,
.registration,
.hiring,
.catalog-detail {
  margin-bottom: 70px;
}


/*catalog*/

.content .header {
  color: #4f4a3f;
  font-family: 'FreightDispPro', sans-serif;
}

.content .header .color {
  color: #928f8a
}

.ctl-link {
  display: block;
  margin-bottom: 50px;
}

.ctl-link:hover img {
  opacity: 0.8;
}

.ctl-name {
  font-size: 32;
}

.catalog-list-item {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
}

.catalog-list-item .box-img {
  position: relative;
  border: 1px solid #d1bb79;
}

.catalog-list-item h4 {
  padding: 0 10px;
  font-size: 18px;
  height: 42px;
  line-height: 1.2;
  margin-top: 15px;
  display: block;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.catalog-list-item h4 a {
  color: #000;
}

.catalog-list-item .view {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 40px;
  margin: -20px 0 0 -40px;
  color: #fff;
  background-color: #8e0f30;
  line-height: 40px;
  padding: 0;
  font-family: 'Lato', sans-serif;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.catalog-list-item .box-img:hover .view {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.catalog-list-item .box-img:hover {
  border-color: #8e0f30;
}

.catalog-pagination {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  line-height: 46px;
}

.catalog-pagination a {
  color: #4f4a3f;
}

.catalog-pagination .active a {
  font-weight: bold;
  color: #8e0f30;
}

.catalog-image {
  background-color: #fff;
  border: 1px solid #d1bb79;
  text-align: center;
}

.catalog-detail .breadcrumb {
  background-color: transparent;
}

.catalog-detail .breadcrumb>li {
  font-size: 16px;
  font-family: 'FreightText', sans-serif;
  font-weight: 500;
}

.catalog-detail .breadcrumb>li a {
  color: #4f4a3f;
}

.catalog-detail-title {
  color: #4f4a3f;
}

.catalog-search {
  margin: 0 0 45px;
}

.catalog-search .form-control {
  border-color: #928f8a
}

.catalog-detail .input-group-btn:first-child>.btn-success + .btn-success {
  margin-left: 3px;
}

.catalog-detail .number-plus-minus {
  margin: 30px 0 30px 20px;
  border: 1px solid #8e0f30;
}

.catalog-detail .number-plus-minus .form-control {
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  color: #4f4a3f;
  text-align: right;
}


/*place-order*/

.place-order .register p {
  margin-bottom: 20px;
  color: #898479
}

.form-registration .bdb,
.form-register .bdb {
  border-bottom: 1px solid #dbdad4;
  padding-bottom: 10px;
  font-family: 'FreightDispProSemibold', sans-serif;
  color: #999
}

.form-registration .bdb {
  margin-bottom: 30px;
}

.row-pl-od {
  margin-right: -10px;
  margin-left: -10px;
}

.col-five {
  width: 20%;
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.place-order .log-in h2 {
  font-size: 28px;
  font-family: 'FreightDispProSemibold', sans-serif;
  color: #8e0f30;
  font-weight: 700;
  margin-bottom: 20px;
}

.home-login .help,
.place-order .log-in .help {
  color: #928f8a;
  font-family: 'OpenSans', sans-serif;
}

.home-login .help {
  font-size: 14px;
  margin-left: -15px;
}

.home-login .help u {
  font-weight: bold;
  color: #928f8a
}

.home-login .help a:hover u {
  color: #8e0f30;
}

.home-login .login-mobile {
  display: none;
}

.form-log-in {
  margin-bottom: 70px;
}

.place-order .form-control:hover {
  color: #8e0f30
}

.place-order .form-control option {
  color: #999
}

.place-order .log-in .register-now {
  text-transform: capitalize;
  font-size: 16px;
  line-height: 46px;
  color: #928f8a
}

.image-attach .input-group {
  padding: 5px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
}

.image-attach .input-group * {
  border-color: transparent;
  box-shadow: none;
}

.image-attach .input-group .form-control:focus {
  box-shadow: none;
}

.datepicker table tr td.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active:hover {
  background-image: none;
  background-color: #8e0f30 !important
}


/*contact*/

.contact .header {
  margin-bottom: 20px;
}

.contact * .form-control {
  border-color: #e7e1cf !important;
}

.contact-form .title {
  font-size: 28px;
  color: #4f4a3f;
  font-family: 'FreightText', sans-serif;
  font-weight: 700;
  margin: 58px 0 30px;
}

.contact .get-touch p {
  margin-bottom: 20px;
}


/*hiring*/

.hiring-header {
  border-bottom: 1px solid #ceccc6;
  padding-bottom: 15px;
}

.hiring-header .title,
.hiring-list .title {
  font-size: 32px;
  margin: 0;
  font-family: 'FreightDispProSemibold', sans-serif;
}

.hiring-header .title a,
.hiring-list .title a {
  color: #8e0f30;
}

.hiring-header ul,
.hiring-list ul {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin: 0;
}

.hiring-header ul span,
.hiring-list ul span {
  padding: 0 6px;
}

.hiring-list a.view {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 12px;
}

.hiring-list .media + .media {
  border-top: 1px solid #ceccc6;
  padding-top: 11px;
}

.hiring-detail h3 {
  color: #8e0f30;
  font-family: 'FreightText', sans-serif;
  font-weight: 700
}

.hiring-detail ul li {
  text-indent: 17px;
  position: relative;
}

.hiring-detail ul li:before {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #9a2e49;
  content: "";
  left: 2px;
  top: 8px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.hiring .apply-now h2 {
  color: #8e0f30;
  font-size: 28px;
  padding-bottom: 10px;
  font-family: 'FreightText', sans-serif;
  font-weight: 500;
  border-bottom: 1px solid #dbdad4;
}

.hiring .apply-now .form-group {
  margin-bottom: 15px;
}

footer {
  background-color: #efeee2;
  padding-top: 50px;
  font-size: 18px;
  font-family: 'FreightText', sans-serif;
  font-weight: 500;
}

.footer-menu li {
  margin: 0 0 10px;
}

.footer-menu ul,
.footer-menu li:last-child {
  margin: 0;
}

.copy-right {
  padding: 40px 0 30px;
  margin-top: 50px;
  border-top: 1px solid #deddd4;
}

.icon-logo-adm {
  position: relative;
}

.icon-logo-adm:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 75%;
  background-image: url(../images/icon-adm.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  margin: -34.5px 0 0 -47px;
  width: 94px;
  height: 69px;
}

@media(min-width: 768px) {
  header .navbar-right {
    margin-top: 35px;
    margin-right: -45px;
  }
  header .navbar-default {
    height: 121px;
  }
  .content .header {
    font-size: 42px;
    margin: 40px 0 30px;
  }
  .catalog-image {
    width: 554px;
    height: 554px;
  }
  .catalog-detail .breadcrumb {
    text-align: right;
    margin-top: 57px;
  }
  .catalog-detail-title {
    font-size: 48px;
    text-align: right;
    line-height: 1.2;
  }
  .ordering-porcess .mr {
    margin-right: -150px;
  }
  .subscribe .input-group {
    width: 500px;
    margin: 40px auto 0;
  }
  .our-services .btn + .btn {
    margin-left: 18px;
  }
  .about-showcase .btn + .btn {
    margin-left: 20px;
  }
  .place-order .register,
  .contact .get-touch {
    margin-right: 20px;
  }
  .catalog-pagination.txt-right {
    text-align: right !important
  }
  .catalog-pagination a {
    padding: 5px;
  }
}

@media(min-width: 1200px) {
  .our-services .icon-satisfaction:after {
    position: absolute;
    content: "";
    left: -100px;
    top: 0;
    width: 102px;
    height: 130px;
    background-image: url(../images/icon-satisfaction.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 85%;
  }
}

@media(max-width: 1200px) {
  header .logo {
    width: 330px;
  }
  header .navbar-default .navbar-nav>li>a {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 992px) {
  header .logo {
    width: 250px;
    margin-top: 40px;
  }
  header .navbar-default .navbar-nav>li>a {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  header .logo {
    width: 220px;
    margin: 8px 0 0px 15px;
    height: auto;
    min-height: 40px;
  }
  .home-login .navbar-form {
    padding-left: 25px;
    padding-right: 25px;
  }
  .home-login .help {
    line-height: 34px;
  }
  .content .header {
    margin-bottom: 20px;
  }
  .hiring-header .title,
  .hiring-list .title {
    font-size: 24px;
  }
  .hiring-list a.view {
    font-size: 16px;
    margin-top: 20px;
  }
  .catalog-detail-title {
    font-size: 24px;
    margin-bottom: 0;
  }
  .catalog-detail .breadcrumb {
    padding: 0;
  }
  .catalog-detail .breadcrumb>li {
    font-size: 14px;
  }
  .catalog-detail .breadcrumb>li+li:before {
    padding: 0;
  }
  .catalog-detail .number-plus-minus {
    margin: 30px 0;
  }
  .catalog-search {
    margin-bottom: 25px;
  }
  .hb-title {
    font-size: 50px;
  }
  .our-services p {
    font-size: 24px;
  }
  .icon-logo-adm {
    margin-bottom: 110px;
  }
  .icon-logo-adm:after {
    left: 50%;
    top: 215px;
  }
  .about-top .title {
    font-size: 40px
  }
  .about-intro-bottom h2 {
    font-size: 30px;
  }
  .sc-more .btn {
    margin-top: 15px;
  }
  .content .header {
    font-size: 24px;
  }
  .col-five {
    width: 50%;
  }
  .form-group label {
    margin-top: 15px;
  }
  .about-alexander {
    padding-bottom: 120px;
  }
  .subscribe {
    padding-bottom: 150px;
  }
  .aba-item {
    margin-bottom: 40px;
  }
  .aba-arrows,
  .sr-arrows {
    right: 15px;
    bottom: 5px;
  }
  .ctl-link {
    text-align: center;
  }
  .catalog-pagination {
    font-size: 16px;
  }
}
